.allergens {
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #328165 0%, #31c48d 100%);
  color: #fdfefe;
}

.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fdfefe;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.back-button:hover {
  text-decoration: underline;
}

.allergens-settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.allergens-settings h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.allergens-settings .allergens-settings-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.allergens-settings .allergens-settings-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  border-bottom: 1px solid #fdfefe;
}

.allergens-settings .allergens-settings-container .allergens-selection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.allergens-settings .allergens-settings-container .allergens-selection .allergen-container {
  width: 100%;
  max-width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.allergens-settings .allergens-settings-container .allergens-selection .allergen-container label {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.allergens-settings
  .allergens-settings-container
  .allergens-selection
  .allergen-container
  input[type='checkbox'] {
  display: none;
}

.allergens-settings .allergens-settings-container .allergens-selection .allergen-container span {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #328165;
  color: #fdfefe;
  transition: all 0.1s ease-in-out;
}

.allergens-settings
  .allergens-settings-container
  .allergens-selection
  .allergen-container
  span
  svg {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.2s ease-in-out;
}

.allergens-settings
  .allergens-settings-container
  .allergens-selection
  .allergen-container
  span:hover {
  background-color: #333333;
}

.allergens-settings
  .allergens-settings-container
  .allergens-selection
  .allergen-container
  input[type='checkbox']:checked
  + span {
  background-color: #31c48d;
}

.allergens-settings
  .allergens-settings-container
  .allergens-selection
  .allergen-container
  input[type='checkbox']:checked
  + span
  svg {
  opacity: 1;
  transform: scale(1);
}

.allergens-settings
  .allergens-settings-container
  .allergens-selection
  .allergen-container
  input[type='checkbox']:checked
  + span:hover {
  background-color: #328165;
}

.allergens-settings
  .allergens-settings-container
  .allergens-selection
  .allergen-container
  input[type='checkbox']:checked
  + span:hover
  svg {
  opacity: 0.8;
  transform: scale(1.25);
}

.allergens-settings .allergens-selected {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.allergens-settings .allergens-selected div {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.allergens-settings .save-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.allergens-settings .save-button {
  width: 100%;
  max-width: 250px;
  height: 80px;
  border-radius: 10px;
  background-color: #333333;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fdfefe;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.allergens-settings .save-button:hover {
  background-color: #328165;
}

@media screen and (max-width: 768px) {
  .allergens-settings h1 {
    font-size: 2rem;
  }

  .allergens-settings .allergens-settings-container h2 {
    font-size: 1.2rem;
  }

  .allergens-settings .allergens-settings-container .allergens-selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .allergens-settings .allergens-settings-container .allergens-selection .allergen-container {
    width: 100%;
    max-width: 150px;
    height: 50px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .allergens-settings .allergens-settings-container .allergens-selection .allergen-container label {
    font-size: 1.2rem;
  }

  .allergens-settings .allergens-settings-container .allergens-selection .allergen-container span {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .allergens-settings .allergens-selected div {
    font-size: 1rem;
  }

  .allergens-settings .save-button {
    height: 50px;
    font-size: 1rem;
  }
}
