.login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #7fdab8 0%, #31c48d 100%);
  color: #fdfefe;
}

.register {
  height: auto;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
}

.login .login-container {
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #328165;
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.login .login-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.login .login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .login-container form input {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%);
  color: #fdfefe;
}

.login .login-container form input:focus {
  outline: none;
}

.login .login-container form input::placeholder {
  color: #fdfefe;
}

.login .login-container form label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.login .login-container form button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  background-color: #333333;
  color: #fdfefe;
  cursor: pointer;
}

.login .login-container form button:hover {
  background-color: #31c48d;
}

.login .login-container .links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.login .login-container .links a {
  color: #fdfefe;
  text-decoration: none;
}

.login .login-container .links a:hover {
  text-decoration: underline;
}

.login .login-container form .row-inputs {
  display: flex;
  justify-content: space-between;
}

.login .login-container form .row-inputs div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.login .login-container form .username-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .login-container form .date-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .login-container .terms-notice {
  margin-top: 20px;
  font-size: 1rem;
}

.login .login-container .terms-notice a {
  color: #fdfefe;
  text-decoration: none;
}

.login .login-container .terms-notice a:hover {
  text-decoration: underline;
}

.login .back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fdfefe;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.login .back-button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .login .login-container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    border-radius: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .register {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .login .login-container h1 {
    font-size: 2rem;
  }

  .login .login-container form input {
    width: 100%;
  }

  .login .login-container form button {
    width: 100%;
  }

  .login .login-container form .row-inputs {
    flex-direction: column;
  }

  .login .login-container form .row-inputs div {
    margin: 10px 0;
  }
}
