.settings {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #328165 0%, #31c48d 100%);
  color: #fdfefe;
  position: fixed;
}

.settings-container {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings .settings-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings-container button {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  background-color: #333333;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  color: #fdfefe;
  cursor: pointer;
  margin: 10px;
}

.settings-container button:hover {
  background-color: #328165;
}

.settings .back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fdfefe;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.settings .back-button:hover {
  text-decoration: underline;
}

.row-inputs button {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  background-color: #333333;
  color: #fdfefe;
  cursor: pointer;
}

.row-inputs button:hover {
  background-color: #31c48d;
}

.allergens-selected {
  padding: 10px;
  width: 100%;
}

.settings-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.settings-container h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.settings .settings-container form .row-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.text-row-inputs div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.text-row-inputs input {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%);
  color: #fdfefe;
}

.text-row-inputs input:focus {
  outline: none;
}

.text-row-inputs input::placeholder {
  columns: #fdfefe;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  justify-content: center;
  padding: 5px;
}

.row label {
  width: 100%;
}

.settings form label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.settings .save-button {
  width: 250px;
  height: 80px;
}

@media screen and (max-width: 768px) {
  .settings .settings-container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    border-radius: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .allergens-container {
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .text-row-inputs {
    font-size: small;
  }

  .settings-container {
    padding-bottom: 15px;
    border-radius: 10px;
  }

  .settings .save-button {
    width: 175px;
    height: 60px;
    font-size: 1rem;
  }
}
