.week-planer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 100px;
}

.week-planer .week-planer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.week-planer .week-planer-header h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.week-planer .week-planer-header p {
  font-size: 1rem;
  font-weight: 300;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.week-planer .week-planer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.week-planer .week-planer-content .week-planer-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.week-planer .week-planer-content .week-planer-recipes .week-planer-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.week-planer
  .week-planer-content
  .week-planer-recipes
  .week-planer-recipe
  .week-planer-recipe-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.week-planer
  .week-planer-content
  .week-planer-recipes
  .week-planer-recipe
  .week-planer-recipe-header
  .week-planer-recipe-day {
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.week-planer
  .week-planer-content
  .week-planer-recipes
  .week-planer-recipe
  .week-planer-recipe-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.week-planer
  .week-planer-content
  .week-planer-recipes
  .week-planer-recipe
  .week-planer-recipe-image
  img {
  max-height: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  max-width: 100%;
  object-fit: contain;
  height: auto;
  border-radius: 5px;
}

.week-planer
  .week-planer-content
  .week-planer-recipes
  .week-planer-recipe
  .week-planer-recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.week-planer
  .week-planer-content
  .week-planer-recipes
  .week-planer-recipe
  .week-planer-recipe-info
  .week-planer-recipe-name {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.week-planer
  .week-planer-content
  .week-planer-recipes
  .week-planer-recipe
  .week-planer-recipe-info
  .week-planer-recipe-description {
  font-size: 1rem;
  font-weight: 300;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  margin: 5px 0px;
}

.week-planer .week-planer-content .week-planer-recipes .week-planer-recipe .recipe-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}

.week-planer
  .week-planer-content
  .week-planer-recipes
  .week-planer-recipe
  .recipe-ingredients
  .recipe-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
  max-width: 400px;
  background-color: #fdfefe;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.week-planer
  .week-planer-content
  .week-planer-recipes
  .week-planer-recipe
  .recipe-ingredients
  .recipe-ingredient
  span {
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  margin-left: 5px;
}

.week-planer
  .week-planer-content
  .week-planer-recipes
  .week-planer-recipe
  .week-planer-recipe-button {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fdfefe;
  background-color: #333;
  height: 40px;
  width: 40px;
  font-size: 36px;
  font-weight: 400;
  border-radius: 50%;
  margin-top: 10px;
  transition: all 0.1s ease-in-out;
}

.week-planer
  .week-planer-content
  .week-planer-recipes
  .week-planer-recipe
  .week-planer-recipe-button:hover {
  color: #328165;
  background-color: #fdfefe;
}

.week-planer-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.week-planer-footer .portions-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.week-planer-footer .portions-selector button {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #333;
  background-color: #fdfefe;
  height: 40px;
  width: 40px;
  font-size: 36px;
  font-weight: 400;
  border-radius: 50%;
  margin: 0px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  transition: all 0.1s ease-in-out;
}

.week-planer-footer .portions-selector button:hover {
  color: #fdfefe;
  background-color: #333;
}

.week-planer-footer .portions-selector span {
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.week-planer-footer .week-planer-footer-button {
  border: none;
  outline: none;
  background-color: #fdfefe;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #333;
  height: 40px;
  width: 300px;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  transition: all 0.1s ease-in-out;
}

.week-planer-footer .week-planer-footer-button:hover {
  color: #fdfefe;
  background-color: #328165;
  border: 1px solid #fdfefe;
}
